.btn {
  background: none;
  border: 2px solid $color-yellow;
  color: $color-grey;
  box-shadow: none;
  font-size: 0.9rem;

  &:hover, &:active, &:focus {
    background: $color-yellow;
    box-shadow: none;
  }
}

.fl-builder-content.fl-builder-content.fl-builder-content a.fl-button.fl-button {
  @extend .btn;
}
