.page-footer {
  background: transparent;
  color: $color-grey;

  .footer-content {
    color: $color-grey;
    text-align: left;

    a {
      color: $color-grey;
      text-decoration: none !important;
      font-weight: 400 !important;
      background-image: linear-gradient(180deg, transparent 88%, $color-yellow 0);
      background-size: 0 100%;
      background-repeat: no-repeat;
      transition: background-size 0.3s ease;

      &:hover, &:focus, &:active {
        background-size: 100% 100%;
      }
    }

    h3 {
      text-transform: uppercase;
      font-size: rem-calc(14px);
      font-weight: 600;
      color: $color-blue;
    }

    .footer-left {
      padding-left: 0;
      margin: 0;
    }

    .footer-center {
      text-align: left;
      display: flex;
      justify-content: space-between;
    }

    .footer-right {
      text-align: left;
      padding-right: 0;
      display: flex;
      justify-content: flex-end;
    }
  }

  .footer-copyright {
    background: $color-blue;

    .copyright {
      font-size: rem-calc(13px);
      margin: 0;
      line-height: inherit;
      margin-right: 1em;
    }

    a {
      text-decoration: underline !important;
      font-size: rem-calc(13px);

      &:hover {
        text-decoration-style: double !important;
      }
    }
  }
}
