.banner {
  nav {
    box-shadow: none;

    @media #{$medium-and-down} {
      padding: 0 15px;
    }

    .navbar-menu {
      position: relative;
      top: -5px;

      @media #{$small-and-down} {
        align-items: flex-start;
        display: block;
        padding: 0;
      }

      ul {
        a {
          font-size: 16px;
          font-family: $font-regular;
          width: 90px;
          height: 90px;
          line-height: 7em;
          padding: 0;
          text-align: center;
          transition: all 0.5s;
          background: transparent;

          @media #{$small-and-down} {
            width: auto;
            height: auto;
            line-height: 3em;
            text-align: right;
          }

          &:hover, &:focus, &:active {
            background: $color-yellow;
            text-decoration: none;
          }
        }

        li.current-menu-item {
          a {
            background: $color-yellow;
            text-decoration: none;
          }
        }
      }
    }
  }

  .logo {
    max-width: 150px;
    position: relative;
    top: 5px;
    padding: 10px 0;
  }

  .material-icons {
    position: relative;
    top: 15px;
  }
}
