$color-yellow: #FFE153;
$color-blue: #1F2F84;
$color-grey: #2D2D2D;

$font-light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-regular: "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  font-family: $font-light;
  color: $color-grey;
}

.container {
  width: 100% !important;
  max-width: 1050px;
}

.row.flex-grid {
  margin-left: -10px;
  margin-right: -10px;
  width: calc(100% + 20px);
}

.archive .content {
  @media (max-width: 1070px) {
    margin: 20px;
  }
}
