$color-yellow: #FCE700;
$color-blue: #2E3398;
$color-grey: #2D2D2D;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $color-grey;
}

.container {
  width: 100% !important;
  max-width: 1050px;
}
