body {
  h1, .h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2em;
    color: $color-blue;
  }

  h2, .h2 {
    font-size: 33px;
    font-weight: 300;
    line-height: 1.2em;
  }

  h3, .h3 {
    font-size: 25px;
    font-weight: 400;
    margin: 15px 0;
  }

  h4, .h4 {
    text-transform: uppercase;
    color: $color-blue;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 0;
  }

  p {
    font-size: 17px;
    line-height: 1.4em;
  }

  a {
    color: $color-black;
    text-decoration: none !important;
    font-weight: 400 !important;

    // &:hover {
    //   background: $color-yellow;
    // }
  }
}
