.home {
  h1 {
    font-weight: 300;
    color: $color-grey;
  }
}

.fl-slideshow-thumbs-page {
  display: flex;
  justify-content: center;

  .fl-slideshow-image {
    width: 10px !important;
    height: 10px !important;
    background: $color-white;
    border: 2px solid $color-yellow !important;

    img {
      display: none;
    }
  }

  .fl-slideshow-image-active {
    background: $color-yellow;
  }
}

.home-projects-link {
  position: absolute;
  bottom: 25px;
  z-index: 1000;
  right: 40px;

  a {
    color: $color-blue;
    text-decoration: none;
    font-size: rem-calc(14px);
    font-weight: normal;
    font-family: $font-regular;
    text-transform: uppercase;

    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}
